*.log
.idea/
my_env/
*.pyc
*.pot
__pycache__
db.sqlite3
media

*.bak
*.py[cod]
*$py.class

dist/
eggs/
downloads/
.Python build/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.text
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
.python-version
celerybeat-schedule
*.sage.py

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/site

.mypy_cache/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-project
#sftp configuration file
sftp-config.json
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings




